body{
	font-family: helvetica;
	background-color: #EFEFEF;
	font-family: 'VT323', monospace;
	font-family: 'Space Mono', monospace;
}

#header{
	margin: 50px;
	text-align: center;
}

.column {
    float: left;
    width: 33%;
    text-align: center;
}

.column p{
	 vertical-align: middle;
	 font-size: 18px;
	 color:white;
/*	 #F5F5F5
*/}

.column p:hover{
	cursor: pointer;	
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    height:100%;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#image{
	margin-top: 100px;
	width:100%;
}

#col1{
	border: 2px solid black;
}