body{
	font-family: helvetica;
	background-color: #EEEEEE;
	font-family: 'VT323', monospace;
	font-family: 'Space Mono', monospace;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 42px;
}

#header{
	margin: 30px;
	text-align: center;
}

.column {
    float: left;
    margin: 3%;
    margin-top:0px; 
    margin-bottom: 5px;
    text-align: center;
}

.column p{
	 vertical-align: middle;
	 font-size: 18px;
	 color:#BBBBBB;
	 transition: ease 1s;
/*	 #F5F5F5
*/}

#col1 p:hover{
	cursor: pointer;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    height:100%;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}


#col1{
	border-style: solid;
    border-radius: 10px;
    box-shadow: -3px 3px black;    
    width: 20%;
}

#col2{
    width:20%; 
}

#col3{
    width:40%;
}


#imageContainer{
    position: fixed;
    bottom: 5px;
    right: 10px;
}


#createdImage{
    border: solid 2px black;
}

/*img {
 opacity: 0;
	transition: ease 1s;

 }
img#createdImage {
    -webkit-animation: fade 1s;
    animation: fade 1s;
    opacity: 1;
    width:250px;

}

@-webkit-keyframes fade {
    from {width: 0px}
    to {width: 250px}
}@keyframes fade {
    from {width: 0px}
    to {width: 250px}
}*/
.card-row{
    float:left;
    display:inline-block;
    width:44%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card{
    height: 300px;
    background-color: #FFFFFF;
    border: 3px black solid; 
    border-radius: 10px;
    box-shadow: 3px 3px black;   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h3{
    padding-top: 15px;
    margin: 0px;
}

.card p{
    padding: 5px;
    font-size: 14px;
}

img{
/*    opacity: 1;
    width: 100%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;*/
/*        width:100%;
    height:auto;
    max-height:100%;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 62%);
clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 62%);*/
}

#card1 {
    background-image: url("images/Headshot.jpg");
}
#card2 {
}

