body{
	font-family: helvetica;
	background-color: #EFEFEF;
	font-family: 'VT323', monospace;
	font-family: 'Space Mono', monospace;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 42px;
}

#header{
	margin: 30px;
	text-align: center;
}

.column {
    float: left;
    width: 27%;
    margin: 3%;
    margin-top:0px; 
    margin-bottom: 5px;
    text-align: center;
}

.column p{
	 vertical-align: middle;
	 font-size: 18px;
	 color:white;
	 transition: ease 1s;
/*	 #F5F5F5
*/}

#col2 p:hover{
	cursor: pointer;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    height:100%;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}


#col2{
	border-style: solid;
	animation: colors 7s ease-in-out infinite;
}

@keyframes colors {
    0% {border-color: black;}  
    50% {border-color: white;}  
    100% {border-color: black;}  

}

#imageContainer{
    position: fixed;
    bottom: 5px;
    right: 10px;
}


#createdImage{
    border: solid 2px black;
}

img {
/*    width:75%;
*/  opacity: 0;
	transition: ease 1s;

 }
img#createdImage {
    -webkit-animation: fade 1s;
    animation: fade 1s;
    opacity: 1;
    width:250px;

/*    width: 75%;
*/ }
/* -fail- */
@-webkit-keyframes fade {
    from {width: 0px}
    to {width: 250px}
}@keyframes fade {
    from {width: 0px}
    to {width: 250px}
}

